{% extends 'layouts.html' %}

{% block content %} 

<div class="container">
  <div class="row">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Pagina Inicial</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!--#################################################################################################################################################################################################-->
            
          <div class="dropdown is-hoverable" style=" position: relative; left: 580px; margin-top: 2px ">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <span>Marcas</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    {% for marca in marcas %}
                    <a class="dropdown-item" href="{{url_for('get_marca', id=marca.id)}}">{{marca.name}}</a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="dropdown is-hoverable"  style=" position: relative; left: 330px; margin-top:2px ">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <span>Categorias</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    {% for categoria in categorias %}
                    <a class="dropdown-item" href="{{url_for('get_categoria', id=categoria.id)}}">{{categoria.name}}</a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
        </ul>
        <form class="d-flex" style=" position: relative; left: 450px; margin-bottom: 2px " role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
    <div class="navbar-end" style=" position: relative; left: 40px; margin-bottom: 2px ">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{{url_for('registrar')}}">
            <strong>Cadastrar-se</strong>
          </a>
          <a class="button is-light" href="{{url_for('login')}}">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
  </nav>
</div>

<!--#################################################################################################################################################################################################-->
<div class="container">
    <div class="row">
      {% if marca %}
      {% for m in marca  %}
        <div class="col-md-3">
          <div class="card text-center bg-white border-primary mb-3" style="width: 18rem;">
              <img class="card-img-top" src="{{url_for('static', filename='imagens/' + m.imagem_1)}}" alt="{{m.name}}" class="card-img-top" height="230">
                <div class="card-body">
                  {% if m.desconto > 0 %}
                    <h5 style="text-shadow: 1px 1px 2px #000; color: #f00; transform: rotate(15deg); position: absolute; top: 2%; left: 52%; font-weight: 600;">Desconto {{m.desconto}}%</h5>
                  {% endif %}
                    <h5 class="card-title">{{m.name}}</h5>
                    <h5 class="card-text">Preço R${{m.preco}}</h5>
                    <div class="card">
                      <footer class="card-footer">
                        <a href="#" class="float-left btn btn-sm btn-success">Detalhes dos Fabricante</a>
                        <a href="#" class="float-right btn btn-sm btn-dark">Comprar</a>
                    </div>
                </div>
            </div>
          </div>
        {% endfor %}

      {% elif  get_cat_prod %}
        {% for get_cat in get_cat_prod%}
        <div class="col-md-3">
          <div class="card text-center bg-white border-primary mb-3" style="width: 18rem;">
              <img class="card-img-top" src="{{url_for('static', filename='imagens/' + get_cat.imagem_1)}}" alt="{{get_cat.name}}" class="card-img-top" height="230">
                <div class="card-body">
                  {% if get_cat.desconto > 0 %}
                    <h5 style="text-shadow: 1px 1px 2px #000; color: #f00; transform: rotate(15deg); position: absolute; top: 2%; left: 52%; font-weight: 600;">Desconto {{get_cat.desconto}}%</h5>
                  {% endif %}
                    <h5 class="card-title">{{get_cat.name}}</h5>
                    <h5 class="card-text">Preço R${{get_cat.preco}}</h5>
                    <div class="card">
                      <footer class="card-footer">
                        <a href="#" class="float-left btn btn-sm btn-success">Detalhes dos Fabricante</a>
                        <a href="#" class="float-right btn btn-sm btn-dark">Comprar</a>
                    </div>
                </div>
            </div>
          </div>
          {% endfor %}
      {% else %}
      
<!--#################################################################################################################################################################################################-->
      {% for produto in produtos  %}
      <div class="col-md-3">
      <div class="card text-center bg-white border-primary mb-3" style="width: 18rem;">
          <img class="card-img-top" src="{{url_for('static', filename='imagens/' + produto.imagem_1)}}" alt="{{produto.name}}" class="card-img-top" height="230">
            <div class="card-body">
              {% if produto.desconto > 0 %}
                <h5 style="text-shadow: 1px 1px 2px #000; color: #f00; transform: rotate(15deg); position: absolute; top: 2%; left: 52%; font-weight: 600;">Desconto {{produto.desconto}}%</h5>
              {% endif %}
                <h5 class="card-title">{{produto.name}}</h5>
                <h5 class="card-text">Preço R${{produto.preco}}</h5>
              <div class="card">
                <footer class="card-footer">
                  <a href="#" class="float-left btn btn-sm btn-success" >Detalhes dos Fabricante</a>
                  <a href="#" class="float-right btn btn-sm btn-dark" >Adiconar no Carrinho</a>
              </div>
            </div>
        </div>
      </div>
      {% endfor %}
    
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}