{% extends 'layouts.html'%}

{% block content%}

{% include '_messages.html' %}

<div class="container mt-3">
  <nav class="navbar navbar-expand-lg bg-light">
       
        <a class="navbar-brand"  style="margin-left: 20px;" href="{{url_for('admin')}}">Administrador</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      

        </div>
      </div>
    </nav>

</div>


<div class="container mt-3">
    <table class="table table-sm table-striped">
        <thead>
            <th>Serial</th>
            <th>Foto</th>
            <th>Fabricante</th>
            <th>Preço</th>
            <th>Desconto</th>
            <th>Marca</th>
            <th>Aprovar</th>
            <th>Reprovar</th>
            <th>Prazo de Entrega</th>
            <th>Enviar Para Cliene</th>

            
        </thead>

        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{loop.index}}</td>
                <td>{{loop.index}}</td>
                <td>{{loop.index}}</td>
                <td><img src="{{url_for('static', filename='imagens/' + produto.imagem_1)}}" width="130" height="100"></td>
                <td>{{produto.name}}</td>
                <td>R${{produto.preco}}</td>
                <td>{{produto.desconto}} %</td>
                <td>{{produto.marca.name}}</td>
                <td>{{loop.index}}</td>
                <td><a href="{{url_for('updateproduto', id=produto.id)}}" class="btn btn-dark btn-sm">Reprovar</a></td>
                <td><a href="{{url_for('deleteproduto', id=produto.id)}}" class="btn btn-sm btn-danger" >Aprovar</a></td>
                <td><a href="{{url_for('deleteproduto', id=produto.id)}}" class="btn btn-sm btn-danger" >Enviar</a></td> 
           </tr>  
   
           {% endfor %}    
        </tbody>

    </table>

</div>


{% endblock content %}